@model IEnumerable<BProfTemaLab.Dal.Dtos.StandDto>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            @*<th width="20px"></th>*@
            <th>Név</th>
            <th>Nyitó</th>
            <th>Vett</th>
            <th>Eladva</th>
            <th>Selejt</th>
            <th>Záró</th>
            <th>Ár</th>
            <th>Bevétel</th>
            <th>Veszteség</th>
            <th>Törlés</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stand in Model)
        {
        <tr>
            <td>@stand.ProductName</td>
            <td>@stand.StartingQuantity</td>
            <td>@stand.Purchased</td>
            <td>@stand.Sold</td>
            <td>@stand.Scrap</td>
            <td>@stand.ClosingQuantity</td>
            <td>@stand.UnitPrice</td>
            <td>@stand.Income</td>
            <td>@stand.Loss</td>
            <td>
                <form asp-controller="NewStand" asp-action="DeleteStand" method="post">
                    <button type="submit" class="btn btn-default text-danger" style="padding:0px 5px" value="@stand.Id" name="standId" onclick="return confirm('Biztos törölni szeretné?)">X</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

