@model IEnumerable<BProfTemaLab.Dal.Dtos.ProductDto>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th width="20px"></th>
            <th>Név</th>
            <th>Beszállító</th>
            <th>Egység Ár</th>
            <th>Mennyiség</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
        <tr>
            <td>
                <form asp-controller="NewProduct" asp-action="DeleteProduct" method="post">
                    <button type="submit" class="btn btn-default text-danger" style="padding:0px 5px" value="@product.Id" name="productId">X</button>
                </form>
            </td>
            <td>@product.Name</td>
            <td>@product.SupplierName</td>
            <td>@product.UnitPrice</td>
            <td>@product.Quantity</td>
        </tr>
        }
    </tbody>
</table>

